
    <div id="reserva">
        <form id="registro" action="/store" method="POST" enctype="multipart/form-data">
            <legend>Datos personales</legend>
            <br>
            <label for="firstname">Nombres:
            <input type="text" id="txtNombre" size="24" name="firstname" placeholder="Ingrese su nombre aquí..." required>
            </label>
            <label for="lastname">&nbsp;&nbsp;&nbsp;Apellido:
                <input type="text" id="txtApellido" size="20" name="lastname" placeholder="Ingrese su apellido aquí..." required>
            </label>
            <br>
            <label for="city">Destino:
                <input type="text" id="txtCiudad" size="32" name="city" placeholder="Ingrese la ciudad de destino">
            </label>
            <label for="night">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noches:
                <input type="number" id="noches" size="10" name="host">
            </label>
            <br>
            <label for="email">Correo electrónico:
                <input type="email" id="txtCorreo" name="email" size="24" placeholder="Ingrese su correo electrónico" required>
            </label>
            <label for="phone">&nbsp;&nbsp;&nbsp;Teléfono:
                <input type="tel" id="telefono" size="15" name="phone" maxlength="13" placeholder="Ingrese su teléfono">
            </label>
            <br>
            <label for="date">Fecha de viaje:
                <input type="date" id="fecha" name="fly">
            </label>    
            <label for="gender">&nbsp;&nbsp;&nbsp;Género:
                <select id="gender" name="gender">
                    <option>Hombre</option>
                    <option>Mujer</option>
                    <option>Otro</option>
                </select>
            </label>
            <br>
            <label for="price">Precio total:
                <input type="number" id="precio" value="=esp.value">
            </label>                      
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="CONFIRMAR RESERVA">
        </form>
    </div>