<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Europa</title>
    <link rel="icon" href="static/viajar.ico">
</head>

<body>        <!--esto es un comentario-->   
    <header>
        <div class="logo">
            <a href="/index.html"><img src="static/logo.png" alt="Logo de la compania"></a>
            
            <h2>Por el Mundo</h2>
        </div>
    
        <nav class="nav-container"><!--VA A VER QUE CREAR CADA PAGINA PARA CADA DESTNO-->
            <a class="item-nav" href="../index.html">Inicio</a>
            <a class="item-nav" href="templates/asia.html">Asia</a>
            <a class="item-nav" href="templates/oceania.html">Oceania</a>            
            <a class="item-nav" href="#tickets">Comprar Tickets</a><!--NO HAY QUE CREAR UNA PAGINA PARA TICKETS, POR EL MOMENTO-->
        </nav>
    </header>

        <main>
            <div class="container">
                <h1>Reserva</h1>
                <p>Estos son los datos de su reserva. Por favor, verifíquelos bien. Si desea, puede editarlos o eliminar la reserva.</p>
                
                <form action="/reserva" method="POST" id="confirmarReserva" enctype="multipart/form-data">
                    
                    <input hidden type="text" name="id" value="{{reserva[0]}}">
                    <label for="firstname">Nombres:<input type="text" size="24" name="firstname" value="{{reserva[1]}}"></label>
                    <label for="lastname">&nbsp;&nbsp;&nbsp;Apellido:
                        <input type="text" size="20" name="lastname"  value="{{reserva[2]}}">
                    </label>                                           
                    <label for="city">Destino:
                        <input type="text" size="32" name="city" value="{{reserva[5]}}">
                    </label>
                    <label for="night">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noches:
                        <input type="number" size="10" name="night" value="{{reserva[6]}}">
                    </label>
                    <label for="email">Correo electrónico:
                        <input type="email" name="email" id="email" size="24" value="{{reserva[3]}}">
                    </label>
                    <label for="phone">&nbsp;&nbsp;&nbsp;Teléfono:
                        <input type="tel" size="15" name="phone" id="phone" maxlength="13" value="{{reserva[4]}}">
                    </label>
                    <label for="date">Fecha de viaje:
                        <input type="date" name="date" id="date" value="{{reserva[7]}}">
                    </label>    
                    <label for="gender">&nbsp;&nbsp;&nbsp;Género:
                        <select name="gender" id="gender">

                            <option>Masculino</option>
                            <option>Femenino</option>
                            <option>Otro</option>
        
                        </select>
                    </label>
                    <label for="price">Precio total:
                        <input name="price" id="price" type="number" value="{{reserva[9]}}">
                    </label>
                    <a class="btn btn-warning" href="/update/{{reserva[0]}}">Actualizar datos</a> |
                    <a class="btn btn-danger" onclick="return confirm('¿Desea borrar la reserva?')" href="/destroy/{{reserva[0]}}">Eliminar</a>                      
                    <a class="btn" onclick="return alert('Su reserva ha sido confirmada')" href="{{url_for('index')}}">CONFIRMAR RESERVA</a>
                </form>
                
                
                
            </div>
    
     
        </main>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer class="site-footer">
        <div class="grid-footer contenedor">  
            <div class="footer-menu">    
                <a href="{{ url_for('contacto') }}">Contáctenos</a>
            </div>

            <div class="footer-menu">
                <a  href="">Promociones</a>
            </div>
            <div class="footer-menu">
                <a href="" target="_blank">
                    <img src="static/instagram.png" alt="Visita nuestro instagram" style="width:90px;">
                </a>
            </div>

            <div class="footer-menu">
                <a href="" target="_blank">
                    <img src="static/facebook.png" alt="Visita nuestro facebook" style="width:50px">
                </a>
            </div>
        </div>
        <p class="text-center">COPYRIGHT TODOS LOS DERECHOS RESERVADOS.</p>

    </footer>

</body>

</html>